<!-- Firebase Authentication Data Check -->
<script type="text/javascript">
window.onload = function(error) {
    if (error)
        console.log(error);

    firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
            window.user = user;
        } else {
            window.location.href = '{{ site.baseurl }}/login';
        }
    });
    
    // If user is not in system, add them!
    var user_ref = database.ref('users/' + window.user.uid);
    if (!user_ref) {
        user_ref.set({
            name: window.user.displayName,
            photo: window.user.photoURL,
        });
        alert(user_ref);
    }
    
    // If there's a profile link, have it navigate to the user's own profile page
    document.getElementById('profile').href = '{{ site.baseurl }}/user?uid=' + window.user.uid;
    
    // If there's a sign out button, add sign out method to it
    document.getElementById('sign-out').onclick = function() { 
        firebase.auth().signOut();
        return true; // This allows the hyperlink to process
    };
};
</script>
<!-- Firebase Authentication Data Check --> 
