
<!-- Firebase Authentication Data Check -->
<script type="text/javascript">
window.onload = function(error) {
    if (error)
        console.log(error);

    firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
            window.user = user;
        } else {
            // GOTO sign-in page
            window.location.href = '{{ site.baseurl }}/login';
        }
    });
    
    // If there's a home button, have it navigate to the user's own profile page
    document.getElementById('home-btn').onclick = function() {
            window.location.href = '{{ site.baseurl }}/user?uid=' + window.user.uid;
    };
    
    // If there's a sign out button, add sign out method to it
    document.getElementById('sign-out-btn').onclick = function() { 
        firebase.auth().signOut(); 
        window.location.href = '{{ site.baseurl }}/login';
    };
};
</script>
<!-- Firebase Authentication Data Check --> 
