<!-- Firebase Initialization Header -->
<script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
<script type="text/javascript">
  var config = {
    apiKey: "AIzaSyB3hwDPJoJy13RQAUqOIPlSQ7YgaOt5yrE",
    authDomain: "endorsable-us.firebaseapp.com",
    databaseURL: "https://endorsable-us.firebaseio.com",
    projectId: "endorsable-us",
    storageBucket: "endorsable-us.appspot.com",
    messagingSenderId: "301922206703"
  };
  firebase.initializeApp(config);
  window.database = firebase.database();
  // (No elements required)
</script>
<!-- Firebase Initialization Header -->
