<script src="src/get-url-parameters.js"></script>
<script src="src/firebase-user-logic.js"></script>
<!-- Firebase Authentication Data Check -->
<script type="text/javascript">
window.onload = function(error) {
    if (error) console.log(error);

    firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
            // At this point, we have an authenticated user
            window.user = user;
            // If there's a profile link on this page, have it navigate to the user's own profile page
            document.getElementById('profile').href = '{{ site.baseurl }}/user?uid=' + window.user.uid;
            // Make sure user is in the system
            add_user();
            // If there is application logic on this page, execute it
            if (user_auth) user_auth();
        } else {
            // Redirect to login page
            window.location.href = '{{ site.baseurl }}/login';
        }
    });
    
    // If there's a sign out button, add sign out method to it
    document.getElementById('sign-out').onclick = function() { 
        firebase.auth().signOut();
        return true; // This allows the hyperlink to process
    };
};
</script>
<!-- Firebase Authentication Data Check --> 
