/******************  Overall Page Styling (base.html)  *******************/
body { margin: 0em; font-family: sans-serif; background: #ffffff; }

.wrapper            { display: flex; justify-content: center; align-items: center; }
.wrapper > *        { }
#content            { flex-direction: column } 
.flex-fill          { flex-grow: 1; }

#header             { background: #202020; height: 4em; } 
#header > a, 
#footer > a         { color: #39b884; font-size: 1.5em; margin: 0 1em; text-decoration: none; }
#header > div, 
#footer > div       { color: #A0A0A0; font-size: 1.2em; margin: 0 1em; }
#header > a:hover, 
#footer > a:hover   { color: #69e8b4; text-decoration: underline; }


/************************  button.html macros  ***************************/
object              { pointer-events: none; }
/* Picture buttons need a width to render correctly */
.timeline-btn       { width: 10em; }
