/******************  Overall Page Styling (base.html)  *******************/
body { margin: 0em; font-family: sans-serif; background: #ffffff; }

.wrapper            { display: flex; justify-content: center; align-items: center; }
.flex-fill          { flex-grow: 1; }

#header             { background: #202020; height: 4em; } 
#header > a, 
#footer > a         { color: #39b884; font-size: 1.5em; margin: 0 1em; text-decoration: none; }
#header > div, 
#footer > div       { color: #A0A0A0; font-size: 1.2em; margin: 0 1em; }
#header > a:hover, 
#footer > a:hover   { color: #69e8b4; text-decoration: underline; }

#content            { flex-direction: column } 

/************************  button.html macros  ***************************/
object              { pointer-events: none; }
/* Picture buttons need a width to render correctly */
.timeline-btn       { width: 10em; }

/********************************  FORMS  ********************************/
form                { display: flex; flex-direction: column; justify-content: center; 
                      background: #202020; padding: 1em; margin: 3em; }
form > h1           { color: #39b884; font-size: 2em; }
.form-btn-area      { display: flex; flex-direction: row; justify-content: center; align-items: center; } 
.form-btn           { flex-grow: 1; }
