{% extends "base.html" %}
{% block content %}
{% filter markdown %}
Mission
-------

You are not just a number. But you already knew that.
The problem is that the people who are looking for you can only find you by numbers.
Which means unless you follow the rules precisely, they're missing out on what you have to offer.
They can't see what drives you, your passion, how you're able to make others smile or 
keep going when the going gets tough. 
They get thousands of resumes for a posting, 
and they sift through it with primative tools that boil you down to a single number.
If your number is high enough, only then can they even look at you.

Endorsable is not like that. 
Our platform wants to get to know you.
We are trying to model who you are professionally by analyzing
thousands of data points provided by the people who know you best: your coworkers.
Our hope is that we can represent who you are in a format that makes it easy for
companies to actually find the right people.
Your skills, your talents, your charisma, your personality is really what companies
need to figure out if you're the one they're looking for.
By getting to know you, we can get you the kind of job that you're looking for,
something no piece of paper or computer software could ever provide.

This is our goal. If you are tired of feeling looked over and undervalued, or are
looking to differentiate yourself in our modern world, we hope you will join us on our mission.

About
-----

Endorsable aims to be a different kind of company.
Yes, we need your data to do what we do.
However, the majority of the code we use to do it is available open-source.
Our closed source tools are only used to analyze your data if you allow them to.

We want you to be in control of your most valuable asset: your reputation.
We don't make money from selling your data to third parties.
Our income is based solely on how you use our platform,
and whether you want us to make yourself available to oppurtunities from third parties.
Consider us a matchmaking service.
You pay us to help you find the right job at the right time to make you happy.

If you have questions or concerns, please contact us.
{% endfilter%}
{% endblock %}
