{% import "button.html" as btn %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}endorsable{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style.css') }}">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="wrapper" id="header">
      <div class="flex-fill"></div>
      {{ btn.img_btn('timeline', 'logo') }}
      <div class="flex-fill"></div>
      {% if user_uid is defined %}
        {{ btn.text_btn('search',   'search users') }}
        {{ btn.text_btn('pending',  'pending') }}
        {{ btn.text_btn('user',     'profile', uid=user_uid) }}
        {{ btn.text_btn('login',    'logout') }}
      {% else %}
        {{ btn.text_btn('register', 'register') }}
        {{ btn.text_btn('login',    'login') }}
      {% endif %}
      <div class="flex-fill"></div>
    </div>
    <div class="flex-fill"></div>
    <div class="wrapper" id="content">
      {% block content %}
      {% endblock %}
    </div>
    <div class="flex-fill"></div>
    <div class="wrapper" id="footer">
      <div class="flex-fill"></div>
      {{ btn.text_btn('about',  'about') }}
      {{ btn.text_btn('tos',    'terms of service') }}
      <div class="flex-fill"></div>
      <div>&copy; 2017 by the endorsable team</div>
      <div class="flex-fill"></div>
    </div>
  </body>
</html>
