<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}endorsable.us{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style.css') }}">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="wrapper" id="header">
      <a class="page-link" id="logo" href="{{ url_for('timeline') }}">Logo</a>
      <div class="horizontal-fill"></div>
      {% if user_uid is defined %}
        <a class="page-link" id="pending"  href="{{ url_for('search') }}">Search Users</a>
        <a class="page-link" id="pending"  href="{{ url_for('pending') }}">Pending Endorsements</a>
        <a class="page-link" id="profile"  href="{{ url_for('user', uid=user_uid) }}">My Profile</a>
        <a class="page-link" id="sign-out" href="{{ url_for('login') }}">Log Out</a>
      {% else %}
        <a class="page-link" href="{{ url_for('register') }}">Register</a>
        <a class="page-link" href="{{ url_for('login') }}">Login</a>
      {% endif %}
    </div>
    <div class="wrapper" id="content">
      {% block content %}
      {% endblock %}
    </div>
    <div class="wrapper" id="footer">
      <div>by the endorsable.us team!</div>
      <div class="horizontal-fill"></div>
      <a class="page-link" href="{{ url_for('about') }}">About</a>
      <a class="page-link" href="{{ url_for('tos') }}">Terms of Service</a>
    </div>
  </body>
</html>
