{% macro img_btn(page, img_name) %}
  <a class="{{ page }}-btn" href="{{ url_for('{}'.format( page )) }}">
      <object data="{{ url_for('static', filename='{}.svg'.format( img_name )) }}" type="image/svg+xml">
          <img src="{{ url_for('static', filename='{}.png'.format( img_name )) }}"/>
    </object>
  </a>
{% endmacro %}
{% macro text_btn(page, text, uid='') %}
  {% if uid %}
    <a class="{{ page }}-btn" href="{{ url_for('{}'.format( page ), uid=uid) }}">{{ text }}</a>
  {% else %}
    <a class="{{ page }}-btn" href="{{ url_for('{}'.format( page )) }}">{{ text }}</a>
  {% endif %}
{% endmacro %}
