<div id="editor">
  <form action="" method="post">
    <h1>Add Endorsement</h1>
    <br>
    <select class="form-select" name="uid_to">
      <option value="" disabled selected>Who?</option>
      {% for friend in my_relationships %}
        <option value="{{ friend.uid }}">{{ friend.name }}</option>
      {% endfor %}
      <!-- TODO: add invite option here -->
    </select>
    <br>
    <input class="form-input" type="text" placeholder="When?" name="time">
    <br>
    <textarea class="form-textarea" rows=4
        placeholder="Why?" name="endorsement_text"></textarea>
    <br>
    <div class="form-btn-area">
      <input class="form-btn" type="submit" name="function" value="Add Endorsement">
      {# Cancel button here clears the form #}
      <input class="form-btn" type="submit" name="function" value="Cancel">
    </div>
  </form>
  {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}</p>
  {% endif %}
</div>
