<div id="editor">
  <form action="" method="post">
    <h1>Add Endorsement</h1>
    <br>
    <select name="uid_to">
      <option value="" disabled selected>Who?</option>
      {% for friend in userdata.relationships %}
        <option value="{{ friend.uid }}">{{ friend.name }}</option>
      {% endfor %}
      <!-- TODO: add invite option here -->
    </select>
    <br>
    <input type="text" placeholder="When?" name="time">
    <br>
    <input type="text" placeholder="Why?" name="endorsement_text">
    <br>
    <input class="btn btn-default" type="submit" name="function" value="Send">
    {# Cancel button here clears the form #}
    <input class="btn btn-default" type="submit" name="function" value="Cancel">
  </form>
  {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}</p>
  {% endif %}
</div>
