{% extends "base.html" %}
{% block content %}
  <h1>Please Signup</h1>
  <br>
  <form action="" method="post">
    <input type="text" placeholder="Full Name" name="fullname">
    <br>
    <input type="text" placeholder="Email" name="email">
    <br>
    <input type="password" placeholder="Password" name="password">
    <br>
    <input class="btn btn-default" type="submit" value="Login">
  </form>
  {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}</p>
  {% endif %}
{% endblock %}
