{% extends "base.html" %}
{% from "relationships.html" import list_relationships, add_form as add_relationship %}
{% block content %}
  <div class="column">
    {% if userdata is defined %}
      <div id="fullname">{{ userdata.name }}</div>
      {% if userdata.email is defined %}
        <div id="email">{{ userdata.email }}</div>
      {% endif %}
      {% if userdata.relationships %}
        {{ list_relationships(userdata.relationships[:3]) }}
      {% endif %}
      {% if userdata.uid != user_uid and allow_add %}
        {{ add_relationship(userdata.uid) }}
      {% endif %}
    {% endif %}
  </div>
  <div class="column">
    {% include "endorsement-editor.html" %}
    {% include "endorsements-view.html" %}
  <div class="column">
{% endblock %}
