{% extends "base.html" %}
{% block content %}
  <div class="column">
    {% if userdata is defined %}
      <div id="fullname">{{ userdata.name }}</div>
      <div id="email">{{ userdata.email }}</div>
      {% include "relationships.html" %}
      {% if userdata.uid != user_uid %}
        <div id="add-friend">Add Friend</div>
      {% endif %}
    {% endif %}
  </div>
  <div class="column">
    {% include "endorsement-editor.html" %}
    {% include "endorsements-view.html" %}
  <div class="column">
{% endblock %}
