<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    {% include head.html %}
    {% include firebase-auth.html %}
  </head>

  <body>
    <header class="site-header" role="banner">
      <div class="wrapper">
        {% include header.html %}
        <a class="page-link" id="profile">My Profile</a>
        <a class="page-link" id="sign-out" href="{{ site.baseurl }}/login">Sign Out</a>
      </div>
    </header>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer class="site-footer">
      <div class="wrapper">
        {% include footer.html %}
      </div>
    </footer>
  </body>

</html>
